<div>
    <h1>Reset User Password</h1>

    <p> Hi <%= params[:user].email %> </p>

    <p>We received a request for a password change on you Account.</p>
    <p>Your new password must</p>
    <ul>
        <li>Contain 6-64  characters</li>
        <li>Contain at least one mixed-case letter</li>
        <li>Contain at least one number</li>
        <li>not be the same as you Screen Name</li>
    </ul>

    <p> This link wil expire in 15 minutes. After that, you'll need to submit a new request
        in order to reset your password. if you don't wat to reset it, simply discard this email.
    </p>

    <p>
        if you need more help or belive this email was sent by error feel free to
        contact us
        Please don't reply to this automated message
    </p>
    <p>Thanks</p>

    <%= link_to "reset password", reset_user_password_token_url(token: @token) %>

</div>
