<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<%= console %>

<%= render partial: 'shared/flash' %>

<%# url_for :controller => 'password', :action => 'edit' %>
<%= link_to 'modifica', edit_user_password_path %>
