<%# content_for :content do %>

    <div id="home-page">
        <h1>Home Page</h1>

        <%= render 'shared/flash' %>

        <%# url_for :controller => 'password', :action => 'edit' %>
        <%= link_to 'edit password', edit_user_password_path %>
        <br>
        <%= link_to 'reset password', reset_user_password_path %>

        <% yield %>
    </div>

<%# end %>

