<!doctype html>
<html lang="en">
    <%= render partial: 'header' %>
<header>
    <%= render partial: 'navbar' %>
</header>
<body>
    <div class="container-fluid", id="root">
        <%= content_for(:content) or yield %>
    </div>
</body>
</html>

