

<% content_for :content do %>
    <div class="container" id="users-container">
        <h1 class="text-center">users home page</h1>
        <%= yield %>
    </div>
<% end %>


<%= render template: "layouts/application" %>
